### Faça a importação do panda como pd
### Faça a importação do numpy como np

* **Ajuste o seed do numpy para 201 **
* **Crie uma série em panda a partir de vetor de 100 números aleatórios de 0 a 1. **

In [7]:
# Dadas as Séries 
nProva1 = pd.Series(data=[5,10,9], index=['AL01','AL02','AL03'])
nProva2 = pd.Series(data=[4,6,4], index=['AL01','AL02','AL03'])

* (a) Calcule a Nota percentual de Cada Aluno nas Provas 1 e 2 em relação à Nota Máxima;
* (b) Calcule a Nota Normalizada de Cada Aluno nas Provas 1 e 2;

In [8]:
# Dadas o dataframe
np.random.seed(100)
dados = np.random.rand(5,3)*10
colunas = ['P1','P2','P3']
index = ['AL01','AL02','AL03','AL04','AL05']
df = pd.DataFrame(dados,index,colunas)
df

            P1        P2        P3
AL01  5.434049  2.783694  4.245176
AL02  8.447761  0.047189  1.215691
AL03  6.707491  8.258528  1.367066
AL04  5.750933  8.913220  2.092021
AL05  1.853282  1.083769  2.196975

* (a) Calcue a média de cada prova;
* (b) Calcule a média de cada aluno.
* (c) Liste os alunos com nota em P2 abaixo da média.
* (d) Ordene o dataframe por P3
* (e) Crie um nova coluna com a média do aluno.

In [14]:
# Dados o dataFrame abaixo
dic = {'A':[1,2,np.nan],'B':[2,4,np.nan],'C':[3,4,4],'D':[np.nan,1,2]}
df = pd.DataFrame(dic)
df

     A    B  C    D
0  1.0  2.0  3  NaN
1  2.0  4.0  4  1.0
2  NaN  NaN  4  2.0

* **Selecione as linhas sem NAN**
* **Selecione as colunas sem NAN**

In [ ]:
# Dados o dataFrame abaixo
dic = {'Metodo':['KNN','SVR','ANN','KNN','SVR','ANN'],
        'Cenario':['C1','C2','C1','C2','C1','C2'],
        'Erro':[2.1,2.1,1.5,1.7,1.8,1.9]}
df = pd.DataFrame(dic)

**Calcule:**

* Erro média de cada método;
* Erro médio de cada cenário.