# Pandas
---------------

## Instalação 
* conda install pandas
* pip install pandas

In [ ]:
# Importação
import numpy as np
import pandas as pd

## Séries

In [ ]:
# Criando series com index padrão
notas= [8.5,7,9]
pd.Series(notas)

In [ ]:
# Criando series com index definidos
notas= [8.5,7,9]
alunos = ['Aluno 1','Aluno 2','Aluno 3']
pd.Series(notas,alunos)

In [ ]:
# Usando numpy
notas2= np.array([6,7,8])
pd.Series(notas2)

# Mini Tarefa

* (a) Tente Criar uma série a partir de um dicionário Python;

In [ ]:
#Acessando Informações
ser1 = pd.Series([5,2,1],['Brasil','Argentina','França'])
print("O Brasil tem {} cinco copas do Mundo.".format(ser1['Brasil']))

In [ ]:
# Acessando mais de uma chave 
# Você consegue identificar o Erro ?
ser2 = pd.Series(data=['França','Brasil','Argentina'],index=[98,2002,1986])
print("A França foi campeã em {}, o Brasil em {} e a Argentina em {}".format((ser2[[98,2002,1986]])))

In [ ]:
# Operações

In [ ]:
nProva1 = pd.Series(data=[5,10,9], index=['AL01','AL02','AL03'])
nProva2 = pd.Series(data=[4,6,4], index=['AL01','AL02','AL03'])
somaProva = nProva1 + nProva2
somaProva 
# Algo estranho ?

In [ ]:
nProva1

## Mini Tarefa

* (a) Calcule a Média da Turma;
* (b) Calcule a Média Ponderada da Turma, sendo o peso Prova1=2 e Peso Prova2=3);

In [ ]:
# Caso não haja um total Match
nProva1 = pd.Series(data=[5,10,9,8], index=['AL01','AL02','AL03','AL04'])
nProva2 = pd.Series(data=[4,6,4], index=['AL01','AL02','AL03'])
nProva1 + nProva2

### DataFrames

In [ ]:
# Criando DFs
np.random.seed(100)
dados = np.random.rand(5,3)*10
colunas = ['P1','P2','P3']
index = ['AL01','AL02','AL03','AL04','AL05']
df = pd.DataFrame(dados,index,colunas)
df

In [ ]:
# Acessando Colunas
df['P1']
# Qual o tipo da Coluna ?

In [ ]:
# Outro tipo de Acesso
df.P1 #(Não Recomendado)

In [ ]:
# Acessando Mais de uma coluna
df[['P1','P2']]

In [ ]:
# Add nova coluna (Prova 4)
df['P4'] = np.random.rand(5)*10

In [ ]:
# Calculando a média
df['media'] = (df['P1'] + df['P2'] + df['P3'] + df['P4'])/4

# Outra forma

## Mini Tarefa
* (a) Use df.mean para calcular a médias por Aluno e por disciplina

In [ ]:
df.shape # axis 0 (linha) e 1 (coluna)

In [ ]:
 # Removendo colunas
df2 = df.drop('media',axis=1)

In [ ]:
# Para excluir de Df
df.drop('media',axis=1,inplace=true)

## Mini Tarefa
* (a) Remova a linha do Aluno AL03 do DataFrame.

In [ ]:
# Selecionado linhas
df.loc['AL02']
# Qual o tipo do objeto ?

In [ ]:
# Por linha posição
df.iloc[1]

In [ ]:
# Selecionando Posição (linha e coluna)
df.loc['AL02']['P1']

In [ ]:
df.iloc[2]['P1']

In [ ]:
# SubDataFrames
df.loc[['AL02','AL03']][['P1','P2']]

In [ ]:
df.iloc[[1,4]][['P1','P2']]

## Seleção Condicional

In [ ]:
# Relembrando Numpy
df[df > 5]

In [ ]:
# Selecionando Alunos que tiveram nota acima da média em P1
mediaP1 = df['P1'].mean()
mediaP1

In [ ]:
df['P1'] > mediaP1

In [ ]:
df['P1']

In [ ]:
df[df['P1'] > mediaP1]

## Mini Tarefa
* Selecione os alunos que ficaram baixo da média;
* Calcule a média de P2 dos alunos abaixo da média.

In [ ]:
# Ops não funciona (Normal and/or)
df[(df['P1']>5) and (df['P2']>5)]
df[(df['P1']>5) or (df['P2']>5)]

In [ ]:
df[(df['P1']>5) & (df['P2']>5)]

In [ ]:
df[(df['P1']>5) & (df['P2']>5)]

In [ ]:
df[(df['P1']>5) | (df['P2']>5)]

###  Reset de Index

In [ ]:
df.reset_index()

In [ ]:
# Novo Index
alunosMat = ['A01','A02','A03','A04','A05']
df['Mat'] = alunosMat
df.set_index('Mat')

### Index Hierárquico

In [ ]:
#Criando o index
alunos = ['AL01','AL01','AL01','AL02','AL02','AL02']
provas =['P1','P2','P3','P1','P2','P3']
hier_index = list(zip(alunos,provas))
hier_index = pd.MultiIndex.from_tuples(hier_index)

# Criando os dados
np.random.seed(100)
notas = np.random.rand(6,3)*10

#Criando as colunas
disciplinas = ['D1','D2','D3']

# Criando o DataFrame
df2 = pd.DataFrame(notas,hier_index,disciplinas)
df2

In [ ]:
# Melhorando a Representação
df2.index.names = ['Aluno','Prova']
df2

## Mini Tarefa

* Repita o exercício acima para 03 Alunos, 02 Provas e 04 Disciplinas.

In [ ]:
# Acessando dados
#Notas Aluno 1
notas_aluno1 = df2.loc['AL01']
notas_aluno1

In [ ]:
# Descendo na Hierárquia
notas_aluno1_P2 = df2.loc['AL01'].loc['P1']
notas_aluno1_P2

## Mini Tarefa
Como podemos acessar em df2:
    * Nota Aluno 02, Prova 2 da Disciplina 02
    * Nota Aluno 01, Prova 1 da Disciplina 03

In [ ]:
df2

In [ ]:
 # Usando xs (cross-section)
 #Selecionando por Aluno
df2.xs('AL01')

In [ ]:
 # Usando xs (cross)
 # Selecionando por Prova   
df2.xs('P1',level='Prova')

## Limpeza de Dados

In [ ]:
dic3 = {'X':[1,np.nan,np.nan],'Y':[2,4,np.nan],'Z':[3,4,4],}
df3 = pd.DataFrame(dic3)
df3

In [ ]:
# Limpando por Linhas
df3.dropna()

In [ ]:
# Limpando por Colunas
df3.dropna(axis=1)

In [ ]:
# Usando thresh
df3.dropna(thresh=2)

In [ ]:
# Preenchedo os Valores
print(df3)
df3.fillna(3)

In [ ]:
# Preenchedo cada Coluna com um valo
df3.fillna(pd.Series({'X':1,'Y':2,'Z':3}))

In [ ]:
# Preenchedo os Valores com a média
df3['Y'].fillna(df3['Y'].mean())

In [ ]:
# Preenchedo os Valores com a média em Todo df
df3.fillna(df3.mean())

In [ ]:
type(df3.mean())

### Agrupamento de Dados

In [ ]:
dic4 = {'Metodo':['KNN','SVR','ANN','KNN','SVR','ANN'],
        'Cenario':['C1','C2','C1','C2','C1','C2'],
        'Erro':[2.1,2.1,1.5,1.7,1.8,1.9]}
df4 = pd.DataFrame(dic4)
df4

In [ ]:
# Agrupando por cenário
byCen = df4.groupby('Cenario')

In [ ]:
byCen.mean()

In [ ]:
byCen.sum()

In [ ]:
byCen.min()

In [ ]:
byCen.max()

## Mini Tarefa
 * Use groupby e capture o erro médio das SVRs;
 * Chame describe() no grupo criado acima.

## Joins

In [ ]:
dfj1 = pd.DataFrame({'A':['A0','A1','A2'],'B':['B0','B1','B2']},index=[0,1,2])
dfj1

In [ ]:
dfj1

In [ ]:
dfj2 = pd.DataFrame({'A':['A3','A4','A5'],'B':['B3','B4','B5']},index=[3,4,5])
dfj2

In [ ]:
dfj3 = pd.DataFrame({'A':['A6','A7','A8'],'B':['B6','B7','B8']},index=[6,7,8])
dfj3

In [ ]:
#Juntando so  dataFrames
pd.concat([dfj1,dfj2,dfj3])

In [ ]:
pd.concat([dfj1,dfj2,dfj3],axis=1)

In [ ]:
# Inner join
left = pd.DataFrame({'pais':['01','02','03'],'nome':['Brasil','França','China']})
right =  pd.DataFrame({'pais':['01','02','03'],'continente':['America do Sul','Europa','Asia']})
df5 = pd.merge(left,right,how='inner',on='pais')

In [ ]:
#
left = pd.DataFrame({'key1':['K0','K1'],
                     'key2':['K0','K0'],
                     'A':['A00','A10'],
                     'B':['B00','B10']})
right = pd.DataFrame({'key1':['K0','K1'],
                     'key2':['K0','K1'],
                     'C':['C00','C11'],
                     'D':['D00','D11']})

df6 = pd.merge(left,right,how='inner',on=['key1','key2'])
df6

In [ ]:
df7 = pd.merge(left,right,how='right',on=['key1','key2'])
df7

In [ ]:
df7 = pd.merge(left,right,how='outer',on=['key1','key2'])
df7

### Joining

In [ ]:
left = pd.DataFrame({'A':['A0','A1'],
                     'B':['B0','B1']},index=['k0','k1'])
right= pd.DataFrame({'C':['C0','C1'],
                     'D':['D0','D1']},index=['k0','k1'])
left.join(right)

In [ ]:
left.join(right,how='outer')

### Operações

In [152]:
df7 = pd.DataFrame({'A':[1,2,3,4],'B':[222,555,244,222],'C':['ab','cd','ef','gh']})
df7

   A    B   C
0  1  222  ab
1  2  555  cd
2  3  244  ef
3  4  222  gh

In [153]:
# Valores únicos
df7['B'].unique()

array([222, 555, 244], dtype=int64)

In [154]:
# Contando os valores únicos
len(df7['B'].unique())
# ou
df7['B'].nunique()

3

In [155]:
# Contando os valores únicos e desciminando
df7['B'].value_counts()

222    2
555    1
244    1
Name: B, dtype: int64

## Apply

In [ ]:
def pot(x,n=2):
    return x**n

In [ ]:
# Aplicando funções na coluna
df7['A'].apply(pot)

In [ ]:
# Aplicando funções na coluna 
df7['C'].apply(len)

In [ ]:
# Aplicando expressões lmbdas
df7['A'].apply(lambda x:x**2)

## Ordenação

In [156]:
df7.sort_values('B')

   A    B   C
0  1  222  ab
3  4  222  gh
2  3  244  ef
1  2  555  cd

In [157]:
df7.sort_values(by='B')

   A    B   C
0  1  222  ab
3  4  222  gh
2  3  244  ef
1  2  555  cd